<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <!--Header: Check links once connected!-->
    <header>
        <h1>DiceShare</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/listings">Listings</a>
            <a href="/listings/new">Create Listings</a>
            <% if(currentUser) { %>
            <a href="/trade-requests">Trade Requests</a>
            <a href="/profile"><%= currentUser.username %></a>
            <form action="/logout" method="POST" class="logout-form">
                <button type="submit">Log Out</button>
            </form>
            <% } else { %>
            <a href="/login">Log In</a>
            <a href="/register">Sign Up</a>
            <% } %>
        </nav>
    </header>

    <main>
