<%- include("partials/header") %>

<section class="listing-form-container">
    <h2>Create a Dice Listing</h2>
    <p>Post a dice set you want to trade with local dice collectors.</p>

    <form class="listing-form" action="/listings" method="POST">
        <div class="form=group">
            <label for="title">Listing Title</label>
            <input
                type="text"
                id="title"
                name="title"
                placeholder="Blue metal 7-piece dice set"
                maxlength="100"
                required
                >
        </div>

        <div class="form-group">
            <label for="description">Description</label>
            <textarea
                id="description"
                name="description"
                rows="5"
                maxlength="1000"
                placeholder="Describe the dice, their condition, and anything special about them."
                required
                >
            </textarea>
        </div>
    </form>
</section>

<%- include("partials/footer") %>