<%- include("partials/header") %>

<section class="listing-form-container">
    <h2>Create a Dice Listing</h2>
    <p>Post a dice set you want to trade with local dice collectors.</p>

    <form class="listing-form" action="/listings" method="POST">
        <div class="form=group">
            <label for="title">Listing Title</label>
            <input
                type="text"
                id="title"
                name="title"
                placeholder="Blue metal 7-piece dice set"
                maxlength="100"
                required
                >
        </div>

        <div class="form-group">
            <label for="description">Description</label>
            <textarea
                id="description"
                name="description"
                rows="5"
                maxlength="1000"
                placeholder="Describe the dice, their condition, and anything special about them."
                required
                >
            </textarea>
        </div>

        <div class="form-group">
            <label for="diceType">Dice Type</label>
            <select id="diceType" name="diceType" required>
                <option value="">Select dice type</option>
                <option value="Full Set">Full Set</option>
                <option value="D20">D20</option>
                <option value="D12">D12</option>
                <option value="D10">D10</option>
                <option value="D8">D8</option>
                <option value="D6">D6</option>
                <option value="D4">D4</option>
                <option value="Percentile">Percentile</option>
                <option value="Mixed Lot">Mixed Lot</option>
                <option value="D100">D100</option>
                <option value="Misc">Misc</option>
            </select>
        </div>

        <div class="form-group">
            <label for="material">Material</label>
            <select id="material" name="material" required>
                <option value="">Select material</option>
                <option value="Plastic">Plastic</option>
                <option value="Resin">Resin</option>
                <option value="Metal">Metal</option>
                <option value="Quartz">Quartz</option>
                <option value="Glass">Glass</option>
                <option value="Wood">Wood</option>
                <option value="Gem">Gem</option>
                <option value="Misc">Misc</option>
            </select>
        </div>

        <div class="form-group">
            <label for="color">Main Color</label>
            <input
                type="text"
                id="color"
                name="color"
                placeholder="Red"
                required
                >
        </div>

        <div class="form-group">
            <label for="condition">Condition</label>
            <select id="condition" name="condition" required>
                <option value="">Select condition</option>
                <option value="New">New</option>
                <option value="Like New">Like New</option>
                <option value="Used">Used</option>
                <option value="Worn">Worn</option>
                <option value="Broken">Broken</option>
            </select>
        </div>

        <div class="form-group">
            <label for="numberOfDice">Number of Dice</label>
            <input
                type="number"
                id="numberOfDice"
                name="numberOfDice"
                min="1"
                placeholder="7"
                required>
        </div>

        <div class="form-group">
            <label for="preferredTrade">Preferred Trade</label>
            <input
                type="text"
                id="prefferredTrade"
                name="prefferredTrade"
                placeholder="Looking for green resin dice or a D20"
                maxlength="200"
                required
                >
        </div>

        <div class="form-group">
            <label for="location">General Location</label>
            <p>Do <strong>NOT</strong> put your exact location! Just state and city will do.</p>
            <input
                type="text"
                id="location"
                name="location"
                placeholder="Columbus, OH"
                required
                >
        </div>

        
    </form>
</section>

<%- include("partials/footer") %>