<%- include("partials/header") %>

<section class="browse-listings">
    <h2>Browse Dice Listings</h2>
    <p>Find dice sets posted by local dice collectors.</p>

    <p>
        <a class="button-link" href="/listings/new">Create a Listing</a>
    </p>
    
</section>

<%- include("partials/footer") %>