<%- include("partials/header") %>
<section class="auth-container">
    <h2>Log In</h2>
    <p>Welcome back to DiceShare. Log in to create listings, request trades, and review other users.</p>

    <form class="auth-form" action="/login" method="POST">
        <div class="form-group">
            <label for="email">Email</label>
            <input 
                type="email" 
                id="email" 
                name="email" 
                placeholder="you@example.com" 
                required
                >
        </div>

        <div>
            <label for="password">Password</label>
            <input
                type="password"
                id="password"
                name="password"
                placeholder="Enter password here..."
                required
                >
        </div>

        <button type="submit">Log In</button>
    </form>

    <p class="auth-switch">
        Don't have an account?
        <a href="/register">Sign up here!</a>
    </p>
</section>

<%- include("partials/footer") %>