<%- include("partials/header") %>

<section class="profile-container">
    <h2><%= currentUser.username %>'s Profile</h2>

    <p><strong>Email:</strong> <%= currentUser.email %></p>
</section>

<%- include("partials/footer") %>