<%- include("partials/header") %>

<section class="auth-container">
  <h2>Create an Account</h2>
  <p>Join DiceShare to trade dice with local TTRPG players.</p>

  <form class="auth-form" action="/register" method="POST">
    <div class="form-group">
      <label for="username">Username</label>
      <input 
        type="text" 
        id="username" 
        name="username" 
        placeholder="DiceGoblin42" 
        minlength="3"
        maxlength="30"
        required
      >
    </div>

    <!--Look here for future feature-->
    <div class="form-group">
      <label for="email">Email</label>
      <input 
        type="email" 
        id="email" 
        name="email" 
        placeholder="you@example.com" 
        required
      >
    </div>

    <div class="form-group">
      <label for="location">General Location</label>
      <input 
        type="text" 
        id="location" 
        name="location" 
        plaecholder="Redlands, CA"
      >
    </div>

<%- include("partials/footer") %>